@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    background-color: #fff5f8; 
    /* background-color: #fff5cd;  */
  }

  /* ENCABEZADO */
  .header {
    position: relative;
    width: 100vw;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    background-image: url('../img/flores4.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nombre {
    font-family: "Caveat", cursive;
    font-size: clamp(2rem, 8vw, 4rem);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  }


/* TEXTO GENERAL */
  .texto {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 25px;
    font-style: normal;

    color:rgb(146, 72, 19);
    text-align: center;
    font-size: 30px;
    
  }




/* FECHA */
  .fecha-container {
    width: 100vw;
    height: 35vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sep-sup {
    width: 70%;
  }
  .texto-fecha {
    font-size: 50px;
  }
  .sep-inf {
    width: 70%;
    transform: scaleY(-1);
  }



/* TEXTO DE INVITACION */
  .acompañame {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


/* CUENTA REGRESIVA */
  .cuenta-regresiva {
    width: 100vw;
    height: 40vh;

    font-size: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sep-sup {
    width: 70%;
  }
  /* .texto-fecha {
    font-size: 50px;
  } */
  .sep-inf {
    width: 70%;
    transform: scaleY(-1);
  }







.lugar {
  width: 100vw;
  height: 40vh;
  background-color: rgb(87, 189, 100);
}
.vestimenta {
  width: 100vw;
  height: 20vh;
  background-color: rgb(87, 143, 189);
}
.lugar {
  width: 100vw;
  height: 40vh;
  background-color: rgb(87, 189, 100);
}
.regalo {
  width: 100vw;
  height: 40vh;
  background-color: rgb(87, 94, 189);
}
.confirmacion {
  width: 100vw;
  height: 40vh;
  background-color: rgb(133, 189, 87);
}
.despedida {
  width: 100vw;
  height: 20vh;
  background-color: rgb(87, 94, 189);
}




  /* .header {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff5f8; 
    background-image: url('../img/flores2.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }


} */


